* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif !important;
  width: 100%;
}

nav {
  background-color: rgba(13, 13, 13, 1);
  font-size: 23px;
  font-weight: bold;
}

footer {
  background-color: rgba(13, 13, 13, 1);
  color: rgba(252, 252, 252, 1);
}

.navbar-nav {
  width: 100%;
  justify-content: space-around;
}

/*Secciones con distinto Color*/

#servicios,
#multimarca,
#empresaHistoria2,
.mainClientesFernanda {
  background-color: rgba(237, 238, 239, 1);
}

/*Index.html*/

.serviciosImagen,
.multimarcaImg {
  width: 7rem;
  margin-bottom: 1rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spaceAround {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.end {
  display: flex;
  align-items: center;
  justify-content: end;
}

.equipoTarjeta {
  width: 18rem;
}

@media screen and (max-width: 1023px) {
  #noDesplegable {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  #desplegable {
    display: none;
  }
}
