$font-family:"Roboto", sans-serif;
$bg-color-primario: rgba(13, 13, 13, 1);
$bg-color-secundario:rgba(237, 238, 239, 1);
$font-color-nav:rgba(252, 252, 252, 1);
$box-shadows:2px 2px 16px rgba(0, 0, 0, 0.75);
$accordion-style:(
  borde: 2px solid rgba(237, 238, 239, 1),
  fuenteTablet: 16px,
  fuenteDesktop: 18px,
  fuenteBotonTablet: 18px,
  fuenteBotonDesktop: 21px,

)
